.login{
  width: 100vw;
  padding: 10px;
  height: 90vh;
  display:flex;
  justify-content:center;

  form{
    align-self: flex-start;
    width: 500px;
    background:white;
    padding: 25px;

    .error{
      text-align: center;
      color:red;
    }
  }
}