.allPhoto {
  background: white;
  height: 130px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 2%;

  img {
    padding: 5px;
    border-radius: 5%;
    object-fit: cover;
  }
}