
.content {
    grid-area: c;
    background: #EDEEF0;
   /* display: grid;
    grid-template-columns:250px 600px;
    grid-template-rows:minmax(275px,1fr) 130px auto 1fr;
    grid-gap: 15px;*/
    display: flex;
    padding: 10px;
}
.left{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
}
.right{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}


.myPhoto {
    width: 250px;
    height: 370px;
    background: #ffffff;
    padding: 10px;
    border-radius: 2%;

}

.myPhoto img {
    height: 300px;
    width: 230px;;
    object-fit: cover;
    border-radius: 2%;
}

.myPhoto button {
    margin-top: 10px;
    background: #d2d7de;
    border: none;
    color: #5c5e5f;
}

.myPhoto button:hover {
    background: #c6cdd5;
    color: #161717;
}

.allPhoto {
    background: white;
    height: 130px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 2%;
}
.allPhoto img {
    padding: 5px;
    border-radius:5%;
    object-fit: cover;
}


.form{
    background: white;
    padding: 10px;
    border-radius:3%;
}

.btnRow{
    margin-top:10px;
}

.friends {
    display: grid;
    background: white;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    margin: 15px 0;
    border-radius:3%;
    grid-gap: 10px;
}
.friends img{

    border-radius: 50%;
}
.news{
    background: white;
    height:500px;
    padding: 10px;
}


