.myPhoto {
  width: 250px;
  height: 370px;
  background: #ffffff;
  padding: 10px;
  border-radius: 2%;

  img {
    height: 300px;
    width: 230px;;
    object-fit: cover;
    border-radius: 2%;
  }

  button {
  margin-top: 10px;
  background: #d2d7de;
  border: none;
  color: #5c5e5f;
    &:hover{
      background: #c6cdd5;
      color: #161717;
    }
}

}
