.messageForm{
  align-self: start;
  background: white;
  padding: 10px;
  border-radius:10px;
  min-height:150px;
  max-height:100%;

  form{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;

    button{
      margin-top: 10px;

    }

  }
}